<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.soliton.keymanager">

    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".SKMApplication"
        android:icon="@mipmap/type04_72px"
        android:label="@string/app_name" android:allowBackup="false" android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
        android:networkSecurityConfig="@xml/network_security_config">
        <!-- Version 2.0 -->
	    <provider
			    android:name="android.support.v4.content.FileProvider"
			    android:authorities="jp.co.soliton.keymanager"
			    android:exported="false"
			    android:grantUriPermissions="true">
		    <meta-data
				    android:name="android.support.FILE_PROVIDER_PATHS"
				    android:resource="@xml/provider_paths" />
	    </provider>
        <activity android:name=".activity.MenuAcivity"
            android:label="@string/app_name_icon"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ViewPagerInputActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.ConfirmApplyActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.CompleteApplyActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.APIDActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ListConfirmActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.DetailConfirmActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.InputPasswordActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.CompleteConfirmApplyActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.StartUsingProceduresActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.CompleteUsingProceduresActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <receiver android:name=".EpsapAdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service android:name=".mdm.MDMService"></service>
        <receiver android:name=".mdm.MDMBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".activity.ListCertificateActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ViewPagerUpdateActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.AlarmReapplyActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SettingTabletActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="sensorLandscape"
            android:isScrollContainer="true"
            android:theme="@style/Theme.UserDialog">
        </activity>
        <activity
            android:name=".activity.ProductInfoActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.NotificationSettingActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SettingListCertificateActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SettingDetailCertificateActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.LibraryInfoActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.MDMActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <receiver android:name=".alarm.AlarmReceiver"></receiver>
    </application>
</manifest>